DATABASE_URL=postgresql://<user>:<password>@localhost:5432/<db_name>
FLASK_APP=<app.py>
FLASK_ENV=<development>
JWT_SECRET_KEY=
YOLO_MODEL_PATH=models/keypoint/best.pt
SEGMENTATION_MODEL_PATH=models/segmentation/best.pt
ROI_MODEL_PATH=models/segmentation/ROI/roi_canine_b0.pth
# ROI threshold (choose from meta: best_f1_threshold=0.15 or best_youden_threshold=0.06)
ROI_THRESHOLD=0.15
# Model paths (override defaults if needed)
# YOLO_MODEL_PATH=models/keypoint/best.pt
# SEGMENTATION_MODEL_PATH=models/segmentation/best.pt
# ROI_MODEL_PATH=models/segmentation/ROI/roi_canine_b0.pth
